[submodule "external/singularity-eos"]
	path = external/singularity-eos
	url = https://github.com/lanl/singularity-eos.git
[submodule "external/singularity-opac"]
	path = external/singularity-opac
	url = https://github.com/lanl/singularity-opac.git
[submodule "external/parthenon"]
	path = external/parthenon
	url = https://github.com/lanl/parthenon.git
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
